html{
	font-family: helvetica;
}
/*homeMedic.jps*/
.navmed{
	margin-left: 110px;
}
.navmed span{
	display:flex;
	flex-direction:row;
	align-items:center;
	margin: 0.5cm;
}
.navmed span p{
	text-transform:capitalize;
	font-weight:750;
	font-size:25px;
	margin:10px;
}
.navmed span img{
	height:40px;
	width:40px;
}
.u-name{
	font-size: 25px;
	font-weight: 400;
	padding-left: 80px;	
	
	color:#1f1f1f;
}
.resume{
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items:center;
	
	
	margin-left:130px;
	margin-right:80px;
	
	padding:20px;
	
	
	border:0.1px solid #afafaf;
	border-radius: 15px;
	
}

.resume .next{
	color:#1f1f1f;
	
	background:white;
	
	font-size:18px;
	font-family:sans-serif;
	
	border: 0px;
	
}

/*viewConsulta.jsp*/
.tb-1{
	display:flex;
	flex-direction: column;
	align-items:center;
	margin:60px;
}

.th-1, .tr-1{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
	align-self: stretch; 
	
	border-radius:25px;
	padding: 25px 60px;
	margin: 3px 150px;
	
	font-size: 0.75cm;
	font-weight:600;
}
.th-1{
	color:white;
	background-color:#085683;
	justify-content: center;
}
.tr-1{
	color:white;
	background-color:#238BAD;
}