html{
	font-family: helvetica;
}
/*homeMedic.jps*/
.navmed{
	margin:20px;
}
.navmed span{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	margin: 1.5%;
}
.navmed span p{
	text-transform:capitalize;
	font-weight:600;
	font-size:20px;
	margin:8px;
	color:#000000EF;
}
.navmed span img{
	height:55px;
	width:55px;
}
.u-name{
	font-size: 20px;
	font-weight: 600;
	padding-top: 10px;
  	padding-bottom: 10px;	
}

/*viewConsulta.jsp*/
.tb-1{
	display:flex;
	flex-direction: column;
	align-items:center;
	gap: 5% 0%;
	margin:60px;
}

.th-1, .tr-1{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
	align-self: stretch; 
	
	border-radius:15px;
	padding: 1.8px 30px;
	margin: 3px 350px;
	
	font-size: 0.75cm;
	font-weight:600;
}
.th-1{
	color:white;
	background-color:#085683;
	justify-content: center;
}
.tr-1{
	color:white;
	background-color:#238BAD;
}