html{
	font-family: helvetica;
}
/*homeMedic.jps*/
.navmed{
	margin-left: 110px;
}
.navmed span{
	display:flex;
	flex-direction:row;
	align-items:center;
	margin: 0.5cm;
}
.navmed span p{
	text-transform:capitalize;
	font-weight:450;
	font-size:18px;
	margin:8px;
	color:#000000EF;
}
.navmed span img{
	height:38px;
	width:38px;
}
.u-name{
	font-size: 30px;
	font-weight: 600;
	padding-top: 10px;
  	padding-bottom: 10px;	
}

/*viewConsulta.jsp*/
.tb-1{
	display:flex;
	flex-direction: column;
	align-items:center;
	margin:60px;
}

.th-1, .tr-1{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
	align-self: stretch; 
	
	border-radius:15px;
	padding: 3px 60px;
	margin: 3px 150px;
	
	font-size: 0.75cm;
	font-weight:600;
}
.th-1{
	color:white;
	background-color:#085683;
	justify-content: center;
}
.tr-1{
	color:white;
	background-color:#238BAD;
}