@charset "UTF-8";

.hero {
    display: flex;

    width: auto;
    height: 380px;

    align-items: center;
    justify-content: center;

    background: url(../images/background_blue.png) no-repeat center;
    background-size: cover;
}

    .hero h1 {
        display: block;

        margin: 0 250px;

        font-family: 'Open Sans', sans-serif;
        font-size: 32px;
        font-weight: 700;
        text-align: center;

        color: #fff;
    }

.card-container {
    display: flex;
    
    margin: 0 130px;

    justify-content: space-between;
}

    .card {
        display: flex;

        margin: 0 50px;
        width: 100%;

        flex-direction: column;
        align-items: center;
        
        border-radius: 4px;
    }

        .card .image-container {
            display: flex;

            height: 150px;

            align-items: center;
            justify-content: center;
        }

        .card h2 {
            margin: 0 10px;
            margin-bottom: 12px;

            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }

        .card p {
            margin: 0;

            font-family: 'Open-Sans', sans-serif;
            font-size: 14px;
            line-height: 1.6em;
            text-align: center;

            color: #637381;
        }

.button-container2 {
    display: flex;

    margin: 50px 0;

    justify-content: center;
}

#link-container-container-container {
    display: flex;

    padding: 50px 130px;

    justify-content: space-between;
    gap: 50px;
}

    .link-container-container {
        display: flex;

        width: 100%;
        
        flex-direction: column;
    }

        .link-container-container h2 {
            margin: 0;

            font-family: 'Open Sans', sans-serif;
            font-size: 16px;

        }

        .link-container {
            display: flex;

            padding: 0;

            flex-direction: column;

            justify-content: space-between;
            gap: 3px;

            list-style-type: none;
        }
        
            .link {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
            }

                .link a {
                    text-decoration: none;
                    color: #007ace;
                }
