@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	margin: 0;
	padding: 0;
}
 
h1 {	
	margin: 0;
	padding: 0 0;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}

button {
    padding: 0 20px;

    align-items: center;

    border-radius: 3px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.button1 {
    line-height: 32px;

    background-color: #0000;
    border: 2px solid #F4A629;
    color: #F4A629;
}

.button2 {
    line-height: 36px;

    background: linear-gradient(180deg, #EAA61E 0%, rgba(234, 166, 30, 0) 100%), #E6890E;
    border: none;
    color: #fff;   
}

a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #007ace;
}

header {
    display: flex;

    width: auto;
    height: 120px;

    padding: 0 130px;

    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    header img {
        height: 40px;
    }

    header .button-container {
        display: flex;

        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    
    header #user {
        display: flex;

        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    
    	header #name {
    		font-family: "Open Sans", sans-serif;
    		font-size: 14px;
    	}
    
footer {
    display: flex;

    height: 150px;
    padding: 0 130px;
    
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
}

    footer .content {
        display: flex;
        
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

        .content img {
            height: 30px;
        }

        .content ul {
            display: flex;

            padding: 0;

            align-items: center;
            justify-content: space-between;
            gap: 30px;

            list-style-type: none;
        }

            .content ul li {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
            }

                .content ul li a {
                    text-decoration: none;
                    color: #637381;
                }

    footer p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;

        color: #637381;
    }


#sidenav-background {
	height: 100%; /* 100% Full-height */ 
	width: 100%; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden;
	padding-top: 60px;
	opacity: 0.6;
	display: none;
}

#sidenav {
	height: 100%; /* 100% Full-height */
	width: 300px; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 2; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #eee; /* Black*/
	overflow-x: hidden;
	
	display: none;
	flex-direction: column;
}

	#sidenav-title {	
		display: flex;
		flex-direction: row;
		
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
		
		padding: 10px 10px;
		
		border-bottom: 2px solid #ccc;
				
		font-family: 'Open Sans', sans-serif;
	}
	
	#sidenav-links {
		display: flex;
		flex-direction: column;
		
		padding: 10px 0;
		
		align-items: flex-end;
	}
	
		#sidenav-links a{
			width: 100%;
			padding: 10px 0;
			
			text-align: center;
			
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;			
			color: #3d3d3d;
		}
		
		#sidenav-links a:hover {
			background-color: #ddd;
		}